body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/img/music.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007bff;
    color: white;
    padding: 0.5em 2em;
    margin: 0.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

img {
    max-width: 200px;
    margin-bottom: 1em;
}

/* Стили для списка альбомов */
.album {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* Стили для кнопок редактирования и удаления */
.editButton, .deleteButton {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

/* Стили для кнопки добавления нового альбома */
#addAlbumButton {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}