<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Registration</h1>
            <form th:action="@{/registration}" th:object="${user}" method="post" onsubmit="return validateform()">
                <div class="form-group">
                    <label for="login">Username</label>
                    <input type="text" id="login" class="form-control" th:field="*{login}" required/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" th:field="*{user.password}" required/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" th:field="*{user.email}" required/>
                </div>
                <div class="form-group">
                    <label for="telNumber">Phone Number</label>
                    <input type="text" id="telNumber" class="form-control" th:field="*{user.telNumber}" required/>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>

            <div th:if="${successMessage}" class="alert alert-success mt-3">
                <p th:text="${successMessage}"></p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
